body {
  margin: 0;
  overflow-x: hidden;

  font-family: Roboto;

  background-repeat: no-repeat;
  background-position: center 180px;
}
.app-container {
  min-height: 100vh;
}.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1350px;
  height: 45px;
  margin: 40px auto 0;
}.succes {
  background-image: url(/static/media/success.3a079626.jpg);
}.failure {
  background-image: url(/static/media/failure.ef048b74.jpg);
}

/* style for my board */
.game-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1440px;
  margin: auto;
  padding: 20px 15px;
}

.card audio {
  display: block!important;
  width: 300px;
  height: 250px;

  background-color: #000000;
}.card-header {
  width: 100%;
  margin-top: 200px;
  padding: 0 15px;

  font-size: 24px;
  line-height: 45px;
  font-family: "Roboto";
  text-align: center;
  color: #212529;

  background: #ffffff;

  pointer-events: none;
}.back .card-header {
  color: #000000;

  background: #ffffff;
}.card-header.active {
  color: #ffffff;

  background: linear-gradient(40deg,#ffd86f,#fc6262);
}.inactive {
  opacity: 0.5;
}.rotate {
  position: absolute;
  right: 5px;
  bottom: 5px;

  width: 50px;
  height: 50px;

  background-image: url(/static/media/rotate.229f42dc.png);
  background-repeat: no-repeat;
  background-position: center 16px;
  background-size: 32px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);

  -webkit-transition: 0.3s;
          transition: 0.3s;
}.rotate:hover {
  -webkit-filter: none;
          filter: none;
}.card-container {
  -webkit-perspective: 500px;
          perspective: 500px;
}.back,
.front,
.rotate {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}.card {
  position: relative;

  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 300px;
  height: 250px;
  margin: 20px 25px;

  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 #cccccc;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;

  -webkit-transition: box-shadow 0.25s linear,-webkit-transform 0.7s;
          transition: box-shadow 0.25s linear,-webkit-transform 0.7s;
          transition: box-shadow 0.25s linear,transform 0.7s;
          transition: box-shadow 0.25s linear,transform 0.7s,-webkit-transform 0.7s;
}.card:hover {
  box-shadow: -1px 5px 15px 0 rgba(0,0,0,0.5);
}.translate {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}.back,
.front {
  position: absolute;
  top: 0;
  bottom: 0;

  display: flex;
  width: 100%;

  background-repeat: no-repeat;
  background-size: contain;

  -webkit-transition: 0.3s;
          transition: 0.3s;
}.card-cover .back,
.card-cover .front {
  background-position: 50%;
  background-size: cover;
;
}.btns {
  width: 100%;

  text-align: center;
}.btn {
  box-sizing: border-box;
  width: 100%;
  max-width: 650px;
  height: 65px;
  margin: 20px auto;
  padding: 20px 25px;

  font-size: 24px;
  color: #ffffff;

  background: linear-gradient(40deg,#ffd86f,#fc6262);
  border-width: 1px;
  border-radius: 10px;
  outline: 0!important;

  -webkit-transition: 0.3s;
          transition: 0.3s;
}.repeat {
  width: 65px;

  font-size: 0;

  background-image: url(/static/media/repeat.d0f11196.svg),linear-gradient(40deg,#ffd86f,#fc6262);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 32px 32px,cover;
  border-radius: 50%;
}.none {
  box-sizing: border-box;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;

  font-size: 0;

  opacity: 0;
;
}.rating {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1350px;
  height: 40px;
  margin: 0 auto;
  overflow-x: hidden;

  font-size: 36px;
  line-height: 36px;
  color: #fc6262;
}.star-error {
  background-image: url(/static/media/star.dc1ba888.svg);
}.star-error,
.star-succes {
  flex-shrink: 0;
  width: 40px;
  min-width: 40px;
  height: 40px;

  background-size: 40px 40px;
}.star-succes {
  background-image: url(/static/media/star-win.43e453a6.svg);
}@media (max-width:730px) {
  .btn {
    width: 300px;
  }
}@media (max-width:430px) {
  .card {
    margin: 20px 0!important;
  }
}.example-enter {
  opacity: 0.01;
}.example-enter.example-enter-active {
  opacity: 1;

  -webkit-transition: opacity 0.5s ease-in;
          transition: opacity 0.5s ease-in;
}.example-leave {
  opacity: 1;
}.example-leave.example-leave-active {
  opacity: 0.01;

  -webkit-transition: opacity 0.3s ease-in;
          transition: opacity 0.3s ease-in;
}nav {
  position: relative;
}.header-item {
  min-width: 145px;
  margin: 0 0 0 60px;
  padding: 10px;

  font-family: Roboto;
  text-align: left;
  color: #ffffff;
}.header-item.active {
  text-decoration: underline;
}.menuToggle {
  top: 11px;
  left: 0;
  z-index: 3;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}.menuToggle,
.menuToggle input {
  position: absolute;

  display: block;
;
}.menuToggle input {
  top: -7px;
  left: -5px;
  z-index: 2;

  width: 40px;
  height: 32px;

  cursor: pointer;
  opacity: 0;

  -webkit-touch-callout: none;
}.menuToggle span {
  position: relative;
  z-index: 1;

  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;

  background: #cdcdcd;
  border-radius: 3px;
  -webkit-transform-origin: 4px 0;
          transform-origin: 4px 0;

  -webkit-transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1),opacity 0.55s ease,-webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1);
          transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1),opacity 0.55s ease,-webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1);
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1),background 0.5s cubic-bezier(0.77,0.2,0.05,1),opacity 0.55s ease;
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1),background 0.5s cubic-bezier(0.77,0.2,0.05,1),opacity 0.55s ease,-webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1);
}.menuToggle span:first-child {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}.menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}.menuToggle input:checked ~ span {
  background: #cdcdcd;
  -webkit-transform: rotate(45deg) translate(-2px,-1px);
          transform: rotate(45deg) translate(-2px,-1px);
  opacity: 1;
;
}.menuToggle input:checked ~ span:nth-last-child(3) {
  -webkit-transform: rotate(0deg) scale(0.2);
          transform: rotate(0deg) scale(0.2);
  opacity: 0;
;
}.menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translateY(-1px);
          transform: rotate(-45deg) translateY(-1px);
  opacity: 1;
;
}.menu {
  position: absolute;
  left: calc(675px - 50vw);

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 380px;
  height: calc(100vh + 20px);
  margin: -100px 0 0;
  padding: 125px 50px 50px;

  list-style-type: none;

  background: linear-gradient(40deg,#ffd86f,#fc6262);
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;

  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1);
          transition: -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1);
          transition:         transform 0.5s cubic-bezier(0.77,0.2,0.05,1);
          transition:         transform 0.5s cubic-bezier(0.77,0.2,0.05,1),-webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1);

  -webkit-font-smoothing: antialiased;
;
}.menu.green {
  background: linear-gradient(40deg,#00bf82,#0099ae);
}.header-item {
  padding: 10px 0;

  font-size: 22px;
  text-decoration: none;

  cursor: pointer;
;
}.menuToggle input:checked ~ ul {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}@media (max-width:1430px) {
  .menu {
    left: calc(500px - 50vw);
  }
}@media (max-width:1080px) {
  .menu {
    left: calc(325px - 50vw);
  }
}@media (max-width:730px) {
  .menu {
    left: calc(150px - 50vw);

    width: 320px;
;
  }.header-item {
    margin-left: 40px;
  }
}.main-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 280px;
  margin: 20px 25px;

  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  font-family: Roboto;
  text-align: center;
  color: #212529;
  text-decoration: none;

  background: -webkit-gradient(linear,left top,left bottom,from(#fd6a63),color-stop(40%,#feb46b),color-stop(40%,#ffffff),to(#ffffff));
  background: linear-gradient(180deg,#fd6a63,#feb46b 40%,#ffffff 0,#ffffff);
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  cursor: pointer;

  -webkit-transition: 0.3s;
          transition: 0.3s;
}.main-card.green {
  background: -webkit-gradient(linear,left top,left bottom,from(#0099ae),color-stop(40%,#00bf82),color-stop(40%,#ffffff),to(#ffffff));
  background: linear-gradient(180deg,#0099ae,#00bf82 40%,#ffffff 0,#ffffff);
}.main-card img {
  width: 140px;
  height: 140px;
  margin: 30px auto;

  border: 10px solid #ffffff;
  border-radius: 50%;

  object-fit: cover;
;
}.main-card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}.main-container {
  padding-top: 55px;
}.switch-container {
  position: relative;
}.switch {
  right: 0;

  display: block;
  display: inline-block;
  width: 120px;
  height: 40px;
  padding: 3px;

  vertical-align: top;

  background-color: #ffffff;
  background-image: linear-gradient(180deg,#eeeeee,#ffffff 25px);
  border-radius: 5px;
  box-shadow: inset 0 -1px #ffffff,inset 0 1px 1px rgba(0,0,0,0.05);
  cursor: pointer;
;
}.switch,
.switch-input {
  position: absolute;
  top: 0;
}.switch-input {
  left: 0;

  opacity: 0;
}.switch-label {
  position: relative;

  display: block;
  height: inherit;

  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;

  background: linear-gradient(40deg,#ffd86f,#fc6262);
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.12),inset 0 0 2px rgba(0,0,0,0.15);

  -webkit-transition: 0.15s ease-out;
          transition: 0.15s ease-out;
}.switch-label:after,
.switch-label:before {
  position: absolute;
  top: 0;

  -webkit-transition: inherit;
          transition: inherit;
}.switch-label:before {
  content: attr(data-off);
  right: 15px;

  color: #ffffff;
  text-shadow: 0 1px hsla(0,0%,100%,0.5);
}.switch-label:after {
  content: attr(data-on);
  left: 15px;

  color: #ffffff;
  text-shadow: 0 1px rgba(0,0,0,0.2);

  opacity: 0;
}.switch-input:checked ~ .switch-label {
  background: linear-gradient(40deg,#00bf82,#0099ae);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.15),inset 0 0 3px rgba(0,0,0,0.2);
}.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}.switch-handle {
  position: absolute;
  top: 6px;
  left: 6px;

  width: 33px;
  height: 33px;

  background: #ffffff;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(40%,#ffffff),to(#f0f0f0));
  background-image: linear-gradient(180deg,#ffffff 40%,#f0f0f0);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);

  -webkit-transition: left 0.15s ease-out;
          transition: left 0.15s ease-out;
}.switch-handle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 12px;
  height: 12px;
  margin: -6px 0 0 -6px;

  background: #f9f9f9;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#eeeeee),to(#ffffff));
  background-image: linear-gradient(180deg,#eeeeee,#ffffff);
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0,0,0,0.02);
;
}.switch-input:checked ~ .switch-handle {
  left: 85px;

  box-shadow: -1px 1px 5px rgba(0,0,0,0.2);
}
/*# sourceMappingURL=main.6b97b149.chunk.css.map */
